<!-- Generator: GNU source-highlight 3.1.3
by Lorenzo Bettini
http://www.lorenzobettini.it
http://www.gnu.org/software/src-highlite -->
<pre><tt><font color="#000000">001:</font> <b><font color="#000080">import</font></b> java<font color="#990000">.</font>awt<font color="#990000">.*;</font>
<font color="#000000">002:</font> 
<font color="#000000">003:</font> <b><font color="#000080">import</font></b> javax<font color="#990000">.</font>swing<font color="#990000">.*;</font>
<font color="#000000">004:</font> 
<font color="#000000">005:</font> <b><font color="#0000FF">public</font></b> <b><font color="#0000FF">class</font></b> <font color="#008080">PictureFrame</font> <font color="#FF0000">{</font>
<font color="#000000">006:</font>   <b><font color="#0000FF">public</font></b> <font color="#009900">int</font><font color="#990000">[]</font> reroll <font color="#990000">=</font> <b><font color="#0000FF">null</font></b><font color="#990000">;</font>
<font color="#000000">007:</font>   <font color="#008080">GameController</font> master <font color="#990000">=</font> <b><font color="#0000FF">null</font></b><font color="#990000">;</font>
<font color="#000000">008:</font> 
<font color="#000000">009:</font>   <b><font color="#0000FF">class</font></b> <font color="#008080">DominoPanel</font> <b><font color="#0000FF">extends</font></b> JPanel <font color="#FF0000">{</font>
<font color="#000000">010:</font>     <b><font color="#0000FF">private</font></b> <b><font color="#0000FF">static</font></b> <b><font color="#0000FF">final</font></b> <font color="#009900">long</font> serialVersionUID <font color="#990000">=</font> <font color="#993399">4190229282411119364L</font><font color="#990000">;</font>
<font color="#000000">011:</font> 
<font color="#000000">012:</font>     <b><font color="#0000FF">public</font></b> <font color="#009900">void</font> <b><font color="#000000">drawGrid</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">013:</font>       <b><font color="#0000FF">for</font></b> <font color="#990000">(</font><font color="#009900">int</font> are <font color="#990000">=</font> <font color="#993399">0</font><font color="#990000">;</font> are <font color="#990000">&lt;</font> <font color="#993399">7</font><font color="#990000">;</font> are<font color="#990000">++)</font> <font color="#FF0000">{</font>
<font color="#000000">014:</font>         <b><font color="#0000FF">for</font></b> <font color="#990000">(</font><font color="#009900">int</font> see <font color="#990000">=</font> <font color="#993399">0</font><font color="#990000">;</font> see <font color="#990000">&lt;</font> <font color="#993399">8</font><font color="#990000">;</font> see<font color="#990000">++)</font> <font color="#FF0000">{</font>
<font color="#000000">015:</font>           <b><font color="#000000">drawDigitGivenCentre</font></b><font color="#990000">(</font>g<font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> see <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> are <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font><font color="#990000">,</font>
<font color="#000000">016:</font>               master<font color="#990000">.</font>grid<font color="#990000">[</font>are<font color="#990000">][</font>see<font color="#990000">]);</font>
<font color="#000000">017:</font>         <font color="#FF0000">}</font>
<font color="#000000">018:</font>       <font color="#FF0000">}</font>
<font color="#000000">019:</font>     <font color="#FF0000">}</font>
<font color="#000000">020:</font> 
<font color="#000000">021:</font>     <b><font color="#0000FF">public</font></b> <font color="#009900">void</font> <b><font color="#000000">drawGridLines</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">022:</font>       g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>LIGHT_GRAY<font color="#990000">);</font>
<font color="#000000">023:</font>       <b><font color="#0000FF">for</font></b> <font color="#990000">(</font><font color="#009900">int</font> are <font color="#990000">=</font> <font color="#993399">0</font><font color="#990000">;</font> are <font color="#990000">&lt;=</font> <font color="#993399">7</font><font color="#990000">;</font> are<font color="#990000">++)</font> <font color="#FF0000">{</font>
<font color="#000000">024:</font>         g<font color="#990000">.</font><b><font color="#000000">drawLine</font></b><font color="#990000">(</font><font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font> <font color="#990000">+</font> are <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">180</font><font color="#990000">,</font> <font color="#993399">20</font> <font color="#990000">+</font> are <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">);</font>
<font color="#000000">025:</font>       <font color="#FF0000">}</font>
<font color="#000000">026:</font>       <b><font color="#0000FF">for</font></b> <font color="#990000">(</font><font color="#009900">int</font> see <font color="#990000">=</font> <font color="#993399">0</font><font color="#990000">;</font> see <font color="#990000">&lt;=</font> <font color="#993399">8</font><font color="#990000">;</font> see<font color="#990000">++)</font> <font color="#FF0000">{</font>
<font color="#000000">027:</font>         g<font color="#990000">.</font><b><font color="#000000">drawLine</font></b><font color="#990000">(</font><font color="#993399">20</font> <font color="#990000">+</font> see <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font> <font color="#990000">+</font> see <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">180</font><font color="#990000">);</font>
<font color="#000000">028:</font>       <font color="#FF0000">}</font>
<font color="#000000">029:</font>     <font color="#FF0000">}</font>
<font color="#000000">030:</font> 
<font color="#000000">031:</font>     <b><font color="#0000FF">public</font></b> <font color="#009900">void</font> <b><font color="#000000">drawHeadings</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">032:</font>       <b><font color="#0000FF">for</font></b> <font color="#990000">(</font><font color="#009900">int</font> are <font color="#990000">=</font> <font color="#993399">0</font><font color="#990000">;</font> are <font color="#990000">&lt;</font> <font color="#993399">7</font><font color="#990000">;</font> are<font color="#990000">++)</font> <font color="#FF0000">{</font>
<font color="#000000">033:</font>         <b><font color="#000000">fillDigitGivenCentre</font></b><font color="#990000">(</font>g<font color="#990000">,</font> <font color="#993399">10</font><font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> are <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font><font color="#990000">,</font> are<font color="#990000">+</font><font color="#993399">1</font><font color="#990000">);</font>
<font color="#000000">034:</font>       <font color="#FF0000">}</font>
<font color="#000000">035:</font> 
<font color="#000000">036:</font>       <b><font color="#0000FF">for</font></b> <font color="#990000">(</font><font color="#009900">int</font> see <font color="#990000">=</font> <font color="#993399">0</font><font color="#990000">;</font> see <font color="#990000">&lt;</font> <font color="#993399">8</font><font color="#990000">;</font> see<font color="#990000">++)</font> <font color="#FF0000">{</font>
<font color="#000000">037:</font>         <b><font color="#000000">fillDigitGivenCentre</font></b><font color="#990000">(</font>g<font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> see <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">10</font><font color="#990000">,</font> <font color="#993399">20</font><font color="#990000">,</font> see<font color="#990000">+</font><font color="#993399">1</font><font color="#990000">);</font>
<font color="#000000">038:</font>       <font color="#FF0000">}</font>
<font color="#000000">039:</font>     <font color="#FF0000">}</font>
<font color="#000000">040:</font> 
<font color="#000000">041:</font>     <b><font color="#0000FF">public</font></b> <font color="#009900">void</font> <b><font color="#000000">drawDomino</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">,</font> <font color="#008080">Domino</font> d<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">042:</font>       <b><font color="#0000FF">if</font></b> <font color="#990000">(</font>d<font color="#990000">.</font>placed<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">043:</font>         <font color="#009900">int</font> y <font color="#990000">=</font> Math<font color="#990000">.</font><b><font color="#000000">min</font></b><font color="#990000">(</font>d<font color="#990000">.</font>ly<font color="#990000">,</font> d<font color="#990000">.</font>hy<font color="#990000">);</font>
<font color="#000000">044:</font>         <font color="#009900">int</font> x <font color="#990000">=</font> Math<font color="#990000">.</font><b><font color="#000000">min</font></b><font color="#990000">(</font>d<font color="#990000">.</font>lx<font color="#990000">,</font> d<font color="#990000">.</font>hx<font color="#990000">);</font>
<font color="#000000">045:</font>         <font color="#009900">int</font> w <font color="#990000">=</font> Math<font color="#990000">.</font><b><font color="#000000">abs</font></b><font color="#990000">(</font>d<font color="#990000">.</font>lx <font color="#990000">-</font> d<font color="#990000">.</font>hx<font color="#990000">)</font> <font color="#990000">+</font> <font color="#993399">1</font><font color="#990000">;</font>
<font color="#000000">046:</font>         <font color="#009900">int</font> h <font color="#990000">=</font> Math<font color="#990000">.</font><b><font color="#000000">abs</font></b><font color="#990000">(</font>d<font color="#990000">.</font>ly <font color="#990000">-</font> d<font color="#990000">.</font>hy<font color="#990000">)</font> <font color="#990000">+</font> <font color="#993399">1</font><font color="#990000">;</font>
<font color="#000000">047:</font>         g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>WHITE<font color="#990000">);</font>
<font color="#000000">048:</font>         g<font color="#990000">.</font><b><font color="#000000">fillRect</font></b><font color="#990000">(</font><font color="#993399">20</font> <font color="#990000">+</font> x <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font> <font color="#990000">+</font> y <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> w <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> h <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">);</font>
<font color="#000000">049:</font>         g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>RED<font color="#990000">);</font>
<font color="#000000">050:</font>         g<font color="#990000">.</font><b><font color="#000000">drawRect</font></b><font color="#990000">(</font><font color="#993399">20</font> <font color="#990000">+</font> x <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font> <font color="#990000">+</font> y <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> w <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> h <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">);</font>
<font color="#000000">051:</font>         <b><font color="#000000">drawDigitGivenCentre</font></b><font color="#990000">(</font>g<font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> d<font color="#990000">.</font>hx <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> d<font color="#990000">.</font>hy <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font><font color="#990000">,</font> d<font color="#990000">.</font>high<font color="#990000">,</font>
<font color="#000000">052:</font>             Color<font color="#990000">.</font>BLUE<font color="#990000">);</font>
<font color="#000000">053:</font>         <b><font color="#000000">drawDigitGivenCentre</font></b><font color="#990000">(</font>g<font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> d<font color="#990000">.</font>lx <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">30</font> <font color="#990000">+</font> d<font color="#990000">.</font>ly <font color="#990000">*</font> <font color="#993399">20</font><font color="#990000">,</font> <font color="#993399">20</font><font color="#990000">,</font> d<font color="#990000">.</font>low<font color="#990000">,</font>
<font color="#000000">054:</font>             Color<font color="#990000">.</font>BLUE<font color="#990000">);</font>
<font color="#000000">055:</font>       <font color="#FF0000">}</font>
<font color="#000000">056:</font>     <font color="#FF0000">}</font>
<font color="#000000">057:</font> 
<font color="#000000">058:</font>     <font color="#009900">void</font> <b><font color="#000000">drawDigitGivenCentre</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">,</font> <font color="#009900">int</font> x<font color="#990000">,</font> <font color="#009900">int</font> y<font color="#990000">,</font> <font color="#009900">int</font> diameter<font color="#990000">,</font> <font color="#009900">int</font> n<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">059:</font>       <font color="#009900">int</font> radius <font color="#990000">=</font> diameter <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">;</font>
<font color="#000000">060:</font>       g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>BLACK<font color="#990000">);</font>
<font color="#000000">061:</font>       <i><font color="#9A1900">// g.drawOval(x - radius, y - radius, diameter, diameter);</font></i>
<font color="#000000">062:</font>       <font color="#008080">FontMetrics</font> fm <font color="#990000">=</font> g<font color="#990000">.</font><b><font color="#000000">getFontMetrics</font></b><font color="#990000">();</font>
<font color="#000000">063:</font>       <font color="#008080">String</font> txt <font color="#990000">=</font> Integer<font color="#990000">.</font><b><font color="#000000">toString</font></b><font color="#990000">(</font>n<font color="#990000">);</font>
<font color="#000000">064:</font>       g<font color="#990000">.</font><b><font color="#000000">drawString</font></b><font color="#990000">(</font>txt<font color="#990000">,</font> x <font color="#990000">-</font> fm<font color="#990000">.</font><b><font color="#000000">stringWidth</font></b><font color="#990000">(</font>txt<font color="#990000">)</font> <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">,</font> y <font color="#990000">+</font> fm<font color="#990000">.</font><b><font color="#000000">getMaxAscent</font></b><font color="#990000">()</font> <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">);</font>
<font color="#000000">065:</font>     <font color="#FF0000">}</font>
<font color="#000000">066:</font> 
<font color="#000000">067:</font>     <font color="#009900">void</font> <b><font color="#000000">drawDigitGivenCentre</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">,</font> <font color="#009900">int</font> x<font color="#990000">,</font> <font color="#009900">int</font> y<font color="#990000">,</font> <font color="#009900">int</font> diameter<font color="#990000">,</font> <font color="#009900">int</font> n<font color="#990000">,</font>
<font color="#000000">068:</font>         <font color="#008080">Color</font> c<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">069:</font>       <font color="#009900">int</font> radius <font color="#990000">=</font> diameter <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">;</font>
<font color="#000000">070:</font>       g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>c<font color="#990000">);</font>
<font color="#000000">071:</font>       <i><font color="#9A1900">// g.drawOval(x - radius, y - radius, diameter, diameter);</font></i>
<font color="#000000">072:</font>       <font color="#008080">FontMetrics</font> fm <font color="#990000">=</font> g<font color="#990000">.</font><b><font color="#000000">getFontMetrics</font></b><font color="#990000">();</font>
<font color="#000000">073:</font>       <font color="#008080">String</font> txt <font color="#990000">=</font> Integer<font color="#990000">.</font><b><font color="#000000">toString</font></b><font color="#990000">(</font>n<font color="#990000">);</font>
<font color="#000000">074:</font>       g<font color="#990000">.</font><b><font color="#000000">drawString</font></b><font color="#990000">(</font>txt<font color="#990000">,</font> x <font color="#990000">-</font> fm<font color="#990000">.</font><b><font color="#000000">stringWidth</font></b><font color="#990000">(</font>txt<font color="#990000">)</font> <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">,</font> y <font color="#990000">+</font> fm<font color="#990000">.</font><b><font color="#000000">getMaxAscent</font></b><font color="#990000">()</font> <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">);</font>
<font color="#000000">075:</font>     <font color="#FF0000">}</font>
<font color="#000000">076:</font> 
<font color="#000000">077:</font>     <font color="#009900">void</font> <b><font color="#000000">fillDigitGivenCentre</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">,</font> <font color="#009900">int</font> x<font color="#990000">,</font> <font color="#009900">int</font> y<font color="#990000">,</font> <font color="#009900">int</font> diameter<font color="#990000">,</font> <font color="#009900">int</font> n<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">078:</font>       <font color="#009900">int</font> radius <font color="#990000">=</font> diameter <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">;</font>
<font color="#000000">079:</font>       g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>GREEN<font color="#990000">);</font>
<font color="#000000">080:</font>       g<font color="#990000">.</font><b><font color="#000000">fillOval</font></b><font color="#990000">(</font>x <font color="#990000">-</font> radius<font color="#990000">,</font> y <font color="#990000">-</font> radius<font color="#990000">,</font> diameter<font color="#990000">,</font> diameter<font color="#990000">);</font>
<font color="#000000">081:</font>       g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>BLACK<font color="#990000">);</font>
<font color="#000000">082:</font>       g<font color="#990000">.</font><b><font color="#000000">drawOval</font></b><font color="#990000">(</font>x <font color="#990000">-</font> radius<font color="#990000">,</font> y <font color="#990000">-</font> radius<font color="#990000">,</font> diameter<font color="#990000">,</font> diameter<font color="#990000">);</font>
<font color="#000000">083:</font>       <font color="#008080">FontMetrics</font> fm <font color="#990000">=</font> g<font color="#990000">.</font><b><font color="#000000">getFontMetrics</font></b><font color="#990000">();</font>
<font color="#000000">084:</font>       <font color="#008080">String</font> txt <font color="#990000">=</font> Integer<font color="#990000">.</font><b><font color="#000000">toString</font></b><font color="#990000">(</font>n<font color="#990000">);</font>
<font color="#000000">085:</font>       g<font color="#990000">.</font><b><font color="#000000">drawString</font></b><font color="#990000">(</font>txt<font color="#990000">,</font> x <font color="#990000">-</font> fm<font color="#990000">.</font><b><font color="#000000">stringWidth</font></b><font color="#990000">(</font>txt<font color="#990000">)</font> <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">,</font> y <font color="#990000">+</font> fm<font color="#990000">.</font><b><font color="#000000">getMaxAscent</font></b><font color="#990000">()</font> <font color="#990000">/</font> <font color="#993399">2</font><font color="#990000">);</font>
<font color="#000000">086:</font>     <font color="#FF0000">}</font>
<font color="#000000">087:</font> 
<font color="#000000">088:</font>     <b><font color="#0000FF">protected</font></b> <font color="#009900">void</font> <b><font color="#000000">paintComponent</font></b><font color="#990000">(</font><font color="#008080">Graphics</font> g<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">089:</font>       g<font color="#990000">.</font><b><font color="#000000">setColor</font></b><font color="#990000">(</font>Color<font color="#990000">.</font>YELLOW<font color="#990000">);</font>
<font color="#000000">090:</font>       g<font color="#990000">.</font><b><font color="#000000">fillRect</font></b><font color="#990000">(</font><font color="#993399">0</font><font color="#990000">,</font> <font color="#993399">0</font><font color="#990000">,</font> <b><font color="#000000">getWidth</font></b><font color="#990000">(),</font> <b><font color="#000000">getHeight</font></b><font color="#990000">());</font>
<font color="#000000">091:</font> 
<font color="#000000">092:</font>       <i><font color="#9A1900">// numbaz(g);</font></i>
<font color="#000000">093:</font>       <i><font color="#9A1900">//</font></i>
<font color="#000000">094:</font>       <i><font color="#9A1900">// if (master!=null &amp;&amp; master.orig != null) {</font></i>
<font color="#000000">095:</font>       <i><font color="#9A1900">// drawRoll(g, master.orig);</font></i>
<font color="#000000">096:</font>       <i><font color="#9A1900">// }</font></i>
<font color="#000000">097:</font>       <i><font color="#9A1900">// if (reroll != null) {</font></i>
<font color="#000000">098:</font>       <i><font color="#9A1900">// drawReroll(g, reroll);</font></i>
<font color="#000000">099:</font>       <i><font color="#9A1900">// }</font></i>
<font color="#000000">100:</font>       <i><font color="#9A1900">//</font></i>
<font color="#000000">101:</font>       <i><font color="#9A1900">// drawGrid(g);</font></i>
<font color="#000000">102:</font>       <b><font color="#0000FF">if</font></b> <font color="#990000">(</font>master<font color="#990000">.</font>mode <font color="#990000">==</font> <font color="#993399">1</font><font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">103:</font>         <b><font color="#000000">drawGridLines</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">104:</font>         <b><font color="#000000">drawHeadings</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">105:</font>         <b><font color="#000000">drawGrid</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">106:</font>         master<font color="#990000">.</font><b><font color="#000000">drawGuesses</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">107:</font>       <font color="#FF0000">}</font>
<font color="#000000">108:</font>       <b><font color="#0000FF">if</font></b> <font color="#990000">(</font>master<font color="#990000">.</font>mode <font color="#990000">==</font> <font color="#993399">0</font><font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">109:</font>         <b><font color="#000000">drawGridLines</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">110:</font>         <b><font color="#000000">drawHeadings</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">111:</font>         <b><font color="#000000">drawGrid</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">112:</font>         master<font color="#990000">.</font><b><font color="#000000">drawDominoes</font></b><font color="#990000">(</font>g<font color="#990000">);</font>
<font color="#000000">113:</font>       <font color="#FF0000">}</font>
<font color="#000000">114:</font>     <font color="#FF0000">}</font>
<font color="#000000">115:</font> 
<font color="#000000">116:</font>     <b><font color="#0000FF">public</font></b> <font color="#008080">Dimension</font> <b><font color="#000000">getPreferredSize</font></b><font color="#990000">()</font> <font color="#FF0000">{</font>
<font color="#000000">117:</font>       <b><font color="#0000FF">return</font></b> <b><font color="#0000FF">new</font></b> <b><font color="#000000">Dimension</font></b><font color="#990000">(</font><font color="#993399">202</font><font color="#990000">,</font> <font color="#993399">182</font><font color="#990000">);</font>
<font color="#000000">118:</font>     <font color="#FF0000">}</font>
<font color="#000000">119:</font>   <font color="#FF0000">}</font>
<font color="#000000">120:</font> 
<font color="#000000">121:</font>   <b><font color="#0000FF">public</font></b> <font color="#008080">DominoPanel</font> dp<font color="#990000">;</font>
<font color="#000000">122:</font> 
<font color="#000000">123:</font>   <b><font color="#0000FF">public</font></b> <font color="#009900">void</font> <b><font color="#000000">PictureFrame</font></b><font color="#990000">(</font><font color="#008080">GameController</font> sf<font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">124:</font>     master <font color="#990000">=</font> sf<font color="#990000">;</font>
<font color="#000000">125:</font>     <b><font color="#0000FF">if</font></b> <font color="#990000">(</font>dp <font color="#990000">==</font> <b><font color="#0000FF">null</font></b><font color="#990000">)</font> <font color="#FF0000">{</font>
<font color="#000000">126:</font>       <font color="#008080">JFrame</font> f <font color="#990000">=</font> <b><font color="#0000FF">new</font></b> <b><font color="#000000">JFrame</font></b><font color="#990000">(</font><font color="#FF0000">"Abominodo"</font><font color="#990000">);</font>
<font color="#000000">127:</font>       dp <font color="#990000">=</font> <b><font color="#0000FF">new</font></b> <b><font color="#000000">DominoPanel</font></b><font color="#990000">();</font>
<font color="#000000">128:</font>       f<font color="#990000">.</font><b><font color="#000000">setContentPane</font></b><font color="#990000">(</font>dp<font color="#990000">);</font>
<font color="#000000">129:</font>       f<font color="#990000">.</font><b><font color="#000000">pack</font></b><font color="#990000">();</font>
<font color="#000000">130:</font>       f<font color="#990000">.</font><b><font color="#000000">setDefaultCloseOperation</font></b><font color="#990000">(</font>JFrame<font color="#990000">.</font>DO_NOTHING_ON_CLOSE<font color="#990000">);</font>
<font color="#000000">131:</font>       f<font color="#990000">.</font><b><font color="#000000">setVisible</font></b><font color="#990000">(</font><b><font color="#0000FF">true</font></b><font color="#990000">);</font>
<font color="#000000">132:</font>     <font color="#FF0000">}</font>
<font color="#000000">133:</font>   <font color="#FF0000">}</font>
<font color="#000000">134:</font> 
<font color="#000000">135:</font>   <b><font color="#0000FF">public</font></b> <font color="#009900">void</font> <b><font color="#000000">reset</font></b><font color="#990000">()</font> <font color="#FF0000">{</font>
<font color="#000000">136:</font>     <i><font color="#9A1900">// TODO Auto-generated method stub</font></i>
<font color="#000000">137:</font> 
<font color="#000000">138:</font>   <font color="#FF0000">}</font>
<font color="#000000">139:</font> 
<font color="#000000">140:</font> <font color="#FF0000">}</font>
<font color="#000000">141:</font> </tt></pre>
